/*====================
	INDEX
====================*/

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
html {
  --deg: 200deg;
  --text: hsl(var(--deg), 100%, 100%);

  --bg-a1: hsl(var(--deg), 10%, 5%);
  --bg-a2: hsl(var(--deg), 10%, 7%);
  --bg-a3: hsl(var(--deg), 10%, 9%);
  --bg-a4: hsl(var(--deg), 10%, 11%);
  --bg-a5: hsl(var(--deg), 10%, 13%);
  --bg-a6: hsl(var(--deg), 10%, 15%);
  --bg-a8: hsl(var(--deg), 10%, 19%);
  --bg-a9: hsl(var(--deg), 10%, 21%);

  --bg-d1: hsl(var(--deg), 40%, 5%);
  --bg-d2: hsl(var(--deg), 40%, 7%);
  --bg-d3: hsl(var(--deg), 40%, 9%);
  --bg-d4: hsl(var(--deg), 40%, 11%);
  --bg-d5: hsl(var(--deg), 40%, 13%);
  --bg-d6: hsl(var(--deg), 40%, 15%);
  --bg-d7: hsl(var(--deg), 40%, 17%);
  --bg-d8: hsl(var(--deg), 40%, 19%);
  --bg-d9: hsl(var(--deg), 40%, 21%);

  --bg-i1: hsl(var(--deg), 90%, 35%);
  --bg-i2: hsl(var(--deg), 90%, 37%);
  --bg-i3: hsl(var(--deg), 90%, 39%);
  --bg-i4: hsl(var(--deg), 90%, 41%);
  --bg-i5: hsl(var(--deg), 90%, 43%);
  --bg-i6: hsl(var(--deg), 90%, 45%);
  --bg-i7: hsl(var(--deg), 90%, 47%);
  --bg-i8: hsl(var(--deg), 90%, 49%);
  --bg-i9: hsl(var(--deg), 90%, 51%);

  --bg-j1: hsl(var(--deg), 100%, 55%);
  --bg-j2: hsl(var(--deg), 100%, 57%);
  --bg-j3: hsl(var(--deg), 100%, 59%);
  --bg-j4: hsl(var(--deg), 100%, 61%);
  --bg-j5: hsl(var(--deg), 100%, 63%);
  --bg-j6: hsl(var(--deg), 100%, 65%);
  --bg-j7: hsl(var(--deg), 100%, 67%);
  --bg-j8: hsl(var(--deg), 100%, 69%);
  --bg-j9: hsl(var(--deg), 100%, 71%);

  --bg-primary: hsl(216, 98%, 52%);
  --bg-primary-hover: hsl(216, 98%, 40%);
  --bg-error: hsl(354, 70%, 54%);
  --bg-error-hover: hsl(354, 70%, 45%);
  --bg-warning: hsl(45, 100%, 51%);
  --bg-warning-hover: hsl(45, 100%, 41%);
  --bg-success: hsl(152, 69%, 31%);
  --bg-success-hover: hsl(152, 69%, 21%);

  --font: Inter;
  --font-size: 16px;
}
* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
html,
body {
  background-color: var(--bg-a3);
  color: var(--text);
  font-family: var(--font);
  font-size: var(--font-size);
  overflow-x: hidden;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font);
  font-weight: 500;
}
h1.l-title {
  font-size: 3rem;
  line-height: 1;
}
.small-sub {
  color: #1ab2ff;
  font-size: 0.75rem;
  line-height: 2;
  display: block;
  text-align: center;
}
.small-sub-cl {
  color: currentColor;
  font-size: 0.75rem;
  line-height: 1;
}
.big-sub {
  color: #1ab2ff;
  font-size: 1.5rem;
  line-height: normal;
}
.small-sub-gray {
  color: #808080;
  font-size: 0.75rem;
  line-height: 1;
}
.large-title {
  color: #fff;
  font-size: 2.5rem;
  font-weight: 900;
  display: block;
  text-align: center;
}
img.inimg {
  display: inline-block;
  width: 24px;
  height: 24px;
}
a,
i {
  color: #fff;
  text-decoration: none;
}
li {
  list-style: none;
}
::selection {
  color: #fff;
  background-color: var(--bg-j1);
}
hr {
  border: 2px var(--bg-a5) solid;
}

.button-row {
  height: 50px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*====================
	BUTTONS
====================*/

a.button,
button.button {
  background-color: var(--bg-primary);
  border: 1px solid var(--bg-primary-hover);
  padding: 0.5rem 1rem;
  margin: 10px;
  border-radius: 7px;
  color: #fff;
  text-decoration: none;
  transition: 0.1s linear all;
}
a.button:hover,
button.button:hover {
  background-color: var(--bg-primary-hover);
  border: 1px solid var(--bg-primary);
}
a.button.button-primary,
button.button.button-primary {
  background-color: var(--bg-primary);
  border: 1px solid var(--bg-primary-hover);
}
a.button.button-primary:hover,
button.button.button-primary:hover {
  background-color: var(--bg-primary-hover);
  border: 1px solid var(--bg-primary);
}

a.button.button-error {
  background-color: var(--bg-error);
  border: 1px solid var(--bg-error-hover);
}
a.button.button-error:hover {
  background-color: var(--bg-error-hover);
  border: 1px solid var(--bg-error);
}

a.button.button-warning {
  background-color: var(--bg-warning);
  border: 1px solid var(--bg-warning-hover);
}
a.button.button-warning:hover {
  background-color: var(--bg-warning-hover);
  border: 1px solid var(--bg-warning);
}

a.button.button-success {
  background-color: var(--bg-success);
  border: 1px solid var(--bg-success-hover);
}
a.button.button-success:hover {
  background-color: var(--bg-success-hover);
  border: 1px solid var(--bg-success);
}

/*====================
	CENTRE CONTENT
====================*/

.centre-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.centre-content .title {
  display: grid;
  justify-items: center;
}
.centre-content .content .description {
  text-align: center;
  margin-bottom: 10px;
}
.centre-content .content .footer {
  height: 50px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: auto;
}

/*====================
	TAGS
====================*/

/* .tags {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
} */
:root {
  --tag-color: rgb(83, 132, 255);
}
.tag {
  padding: 2px;
  border-radius: 10px;
  margin: 5px;
  width: 75px;
  justify-content: center;
  align-items: center;
  color: var(--tag-color);
}
.tag.tag-green {
  --tag-color: rgb(32, 255, 3);
}
.tag.tag-red {
  --tag-color: rgb(255, 0, 0);
}

/*====================
	SECTION
====================*/

section.section {
  padding: 20px;
}
section.section:nth-child(even) {
  background-color: var(--content-background);
}

section.section .center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/*====================
	FOOTER
====================*/

.page-footer.footer {
  background-color: var(--bg-a5);
  font-size: 1.2rem;
  padding: 30px;
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-top: auto;
}
.page-footer.footer img {
  margin-right: 10px;
  width: 48px;
  height: 48px;
  border-radius: 10px;
}
.page-footer.footer a.c {
  color: hsl(var(--base-hue), 30%, 50%);
}
.page-footer.footer .left {
  font-size: 16px;
}
.page-footer.footer .right {
  font-size: 16px;
}

.vertical_hr {
  border-left: 1px solid var(--bg-a8);
  height: 100%;
  margin: 0 10px;
}

/*====================
	MEMBERS
====================*/

.team {
  padding: 30px;
  width: 1200px;
  height: fit-content;
}
.members {
  width: 100%;
  gap: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-evenly;
}
.card.member {
  height: 250px;
  border-color: var(--bg-j1);
  position: relative;
}
.card.member .card-title {
  display: flex;
  align-items: center;
  gap: 15px;
}
.card.member .card-title .displayname,
.card.member .card-title .badge {
  display: block;
  height: fit-content;
}
.card.member img {
  border-radius: 50%;
  width: 48px;
  height: 48px;
}
.card .bottom-content {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

/*====================
	TOOLTIPS
====================*/

.tooltip {
  position: relative;
}
.tooltip .ttp-text {
  position: absolute;
  font-size: 14px;
  top: 50%;
  transform: translateY(-50%);
  left: 100%;
  margin-left: 15px;
  width: 150px;
  border-radius: 10px;
  background: var(--bg-a9);
  z-index: 100;
  color: #fff;
  display: none;
}
.tooltip:hover .ttp-text {
  display: block;
}
.tooltip i {
  background-color: var(--bg-d6);
  border-radius: 50%;
  padding: 15px;
  font-size: 1.25rem;
  color: var(--bg-j5);
  margin: 5px;
  width: 32px;
  height: 32px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

/*====================
	NAVBAR
====================*/

.navbar-top {
  display: flex;
  position: fixed;
  transition: all 0.3s linear;
  padding: 20px;
  z-index: 10000;
  width: 100%;
  height: 80px;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.navbar-top.not-fixed {
  background-color: var(--bg-a5);
}
.navbar-top.fixed {
  height: 60px;
  position: fixed;
  background-color: var(--bg-d9);
}
.navbar-top .main-content {
  display: flex;
  margin-right: auto;
}
.navbar-top .main-content .branding img {
  display: block;
  height: 100%;
}
.navbar-top .main-content .items {
  margin-left: 50px;
  display: flex;
  align-items: center;
  gap: 50px;
  font-size: 22px;
}
.navbar-top .main-content .items ul {
  display: flex;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
}
.navbar-top .main-content .items ul li {
  margin-left: 10px;
  margin-right: 10px;
  border-bottom: 2px var(--bg-j5) solid;
}

.navbar-top.not-fixed .side-content .round-button {
  background-color: var(--bg-d9);
}
.navbar-top.fixed .side-content .round-button {
  background-color: var(--bg-j1);
}

/*====================
	SECTIONS
====================*/

section.section {
  padding: 20px;
}
section.section:nth-child(even) {
  background-color: var(--bg-a1);
}

/*====================
	HOME PAGE
====================*/

@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap");

.home-cover {
  height: 800px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.home-cover::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/img/bg.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  filter: brightness(0.5);
}
@keyframes bobber {
  0%,
  100% {
    bottom: 150px;
  }
  50% {
    bottom: 140px;
  }
}
html {
  animation: scrollUp 1s linear;
  animation-fill-mode: forwards;
}
@keyframes scrollUp {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.home-cover .content .center-content {
  text-align: center;
  position: relative;
  z-index: 1;
}
.home-cover .content .center-content .title {
  font-size: 18px;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  height: fit-content;
}
.home-cover .content .center-content .description p {
  font-size: 18px;
  height: 60px;
}
.home-cover .skip-down i:hover {
  background-position: 56px;
}
.home-cover .content .side {
  background-color: var(--bg-d5);
}

.home-cover .content .news {
  width: 60%;
  margin: 20px;
  flex-direction: column;
}
.home-cover .content .news .news-container {
  background-color: var(--bg-d5);
  margin: 20px;
  position: relative;
  border-radius: 3px;
  width: 450px;
}
.home-cover .content .news .news-container .news-poster a {
  background-size: cover;
  display: block;
  width: 80px;
  height: 80px;
  position: absolute;
  left: 30px;
  top: -55px;
}
.home-cover .content .news .news-container .news-body {
  padding: 10px;
}
.home-cover .content .news .news-container .news-body .news-title {
  font-weight: 600;
  font-size: 24px;
}
.home-cover .content .news .news-container .news-body .news-footer .marker {
  background-color: var(--bg-d7);
  width: 50px;
  height: 2px;
  margin: 5px 0 10px 0;
  margin-left: -10px;
}
.home-cover .content .news .news-container .news-body .news-footer {
  padding: 5px;
  margin: 5px;
}

/* wave */

@keyframes wave {
  from {
    rotate: -10deg;
  }
  to {
    rotate: 10deg;
  }
}
img.wave-emoji {
  width: 32px;
  height: 32px;
  animation: wave 0.5s ease-in-out infinite alternate;
}

/* projects please help */

.project-list,
#members_list {
  width: 100%;
  flex-direction: column;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 100%;
}
.project-container {
  background-color: var(--bg-a5);
  margin: 20px;
  padding: 25px;
  position: relative;
  padding-top: 20px;
  border-radius: 0.5rem;
  height: 250px;
}
.project-container .project-poster a {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--bg-a2);
  border-radius: 25px;
  display: block;
  width: 80px;
  height: 80px;
}
.project-container .project-body .project-title {
  font-family: var(--font);
  font-weight: 600;
  font-size: 24px;
}
.project-body {
  margin-top: 10px;
  margin-left: 6px;
}

/*====================
	PRIVACY POLICY
====================*/

section.privacy-policy {
  display: flex;
  justify-content: center;
  position: relative;
  padding: 50px 300px;
}
section.policy-section {
  display: block;
}
section.policy-section ul li {
  padding-left: 5px;
  margin-left: 40px;
}
section.policy-section ul li.check {
  list-style-image: url("/img/src/tick.svg");
}
section.policy-section ul li.cross {
  list-style-image: url("/img/src/cross.svg");
}
section.policy-section > h1,
section.policy-section > h2,
section.policy-section > h3,
section.policy-section > h4,
section.policy-section > h5,
section.policy-section > h6 {
  font-weight: 800;
  font-size: 24px;
  margin-bottom: 5px;
  margin-left: -10px;
}

/*====================
	MOBILE
	we love mobile
====================*/

@media only screen and (max-width: 1050px) {
  .home-cover .content .center-content {
    display: block;
    width: 100%;
  }
  .home-cover .content .center-content .projects {
    display: flex;
    justify-content: center;
    width: fit-content;
  }
  .home-cover .content .center-content .side {
    width: 100%;
    min-height: 600px;
  }
}
@media only screen and (max-width: 1200px) {
  .home-cover .content .center-content .team {
    width: 100%;
    min-height: 600px;
  }
  .project-list,
  #members_list {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .members {
    display: block;
  }
}
@media only screen and (max-width: 1050px) {
  .project-list,
  #members_list {
    grid-template-columns: 1fr 1fr;
  }
  section.privacy-policy {
    padding: 50px 200px;
  }
  .home-cover::before {
    background-size: cover;
  }
}
@media only screen and (max-width: 500px) {
  .project-list {
    grid-template-columns: 1fr;
  }
  .home-cover::before {
    background-size: cover;
  }
  section.privacy-policy {
    padding: 50px 50px;
  }
  .home-cover::before {
    background-size: cover;
  }
  h1.l-title {
    font-size: 2rem;
    line-height: 1;
  }
}
@media only screen and (max-width: 750px) {
  #members_list {
    display: grid;
    grid-template-columns: 1fr;
  }
  section.privacy-policy {
    padding: 50px 100px;
  }
  .home-cover::before {
    background-size: cover;
  }
}

/*====================
	EXT CARDS
====================*/

.ext-card {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  height: 40px;
  background-color: var(--bg-a5);
  margin: 10px;
  padding: 10px;
}
.ext-card:nth-child(odd) {
  background-color: var(--bg-a8);
}
.ext-card .ext-card-title {
  display: flex;
  align-items: center;
  font-size: 10px;
}

/*====================
	CONTACT FORM
====================*/

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

input,
textarea {
  width: 50%;
  padding: 12px;
  border: 1px solid var(--bg-a5);
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  background-color: var(--bg-a5);
  color: var(--text);
}

/*====================
	RSS FEED
====================*/

.rss-feed {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.rss-feed .rss-item {
  width: 50%;
  padding: 12px;
  border: 1px solid var(--bg-a5);
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  background-color: var(--bg-a5);
  color: var(--text);
}

.rss-feed .rss-item .rss-title {
  font-weight: 600;
  font-size: 24px;
}

.rss-feed .rss-item .rss-description {
  font-size: 18px;
}
