/* navbar */

@import url(./main.css);

.navbar-top {
	display: flex;
	position: fixed;
	transition: all 0.3s linear;
	padding: 20px;
	z-index: 10000;
	width: 100%;
	height: 80px;
	overflow: hidden;
	align-items: center;
	justify-content: center;
}
.navbar-top.not-fixed {
	background-color: var(--navbar);
}
.navbar-top.fixed {
	height: 60px;
	position: fixed;
	background-color: var(--navbar-fixed);
}
.navbar-top .main-content {
	display: flex;
	margin-right: auto;
}
.navbar-top .main-content .branding img {
	display: block;
	height: 100%;
}
.navbar-top .main-content .items {
	margin-left: 50px;	
	display: flex;
	align-items: center;
	gap: 50px;
	font-size: 22px;
}
.navbar-top .main-content .items ul {
	display: flex;
	align-items: center;
	margin-left: 10px;
	margin-right: 10px;
}
.navbar-top .main-content .items ul li {
	margin-left: 10px;
	margin-right: 10px;
	border-bottom: 2px var(--select) solid;
}

.navbar-top.not-fixed .side-content .round-button {
	background-color: var(--content-background-light);
}
.navbar-top.fixed .side-content .round-button {
	background-color: var(--navbar);
}

li {
	list-style-type: none;
}