/* tooltip */

@import url("./main.css");

.tooltip {
    position:relative;
}
.tooltip .ttp-text {
    position:absolute;
    font-size: 18px;
    top:50%;
    transform:translateY(-50%);
    left:100%;
    margin-left:15px;
    width:350px;
    padding:10px;
    border-radius:10px;
    background:var(--self-color-ex-light);
    z-index: 100;
    color: #fff;
    display:none;
    border-bottom: 5px solid var(--self-color);
}
.tooltip:hover .ttp-text {
    display:grid;
}
.tooltip:after {
    content: " ";
    position:absolute;
    
    /* position tooltip correctly */
    left:100%;
    margin-left:-5px;
   
    /* vertically center */
    top:50%;
    transform:translateY(-50%);
   
    /* the arrow */
    border:10px solid var(--self-color-ex-light);
    border-color: transparent var(--self-color-ex-light) transparent transparent;
    z-index: 100;
    display:none;
}
.tooltip:hover .ttp-text, .tooltip:hover:after {
    display:block;
}
.tooltip i {
    background-color: var(--self-color);
    border-radius: 50%;
    padding: 15px;
    font-size: 1.25rem;
    color: var(--self-color-light);
}