/* screw mobile */

@media only screen and (max-width: 1050px) {
	.home-cover .content .center-content {
		display: block;
		width: 100%;
	}
	.home-cover .content .center-content .projects {
		display: flex;
		justify-content: center;
		width: fit-content;
	}
	.home-cover .content .center-content .side {
		width: 100%;
		min-height: 600px;
	}
}
@media only screen and (max-width: 1200px) {
	.home-cover .content .center-content .team {
		width: 100%;
		min-height: 600px;
	}
	.project-list, #members_list {
		grid-template-columns: 1fr 1fr 1fr;
	}
	.members {
		display: block;
	}
}
@media only screen and (max-width: 1050px) {
	.project-list, #members_list {
		grid-template-columns: 1fr 1fr;
	}
}
@media only screen and (max-width: 500px) {
	.project-list {
		grid-template-columns: 1fr;
	}
	.home-cover::before {
		background-size: 200%;
	}
}
@media only screen and (max-width: 750px) {
	#members_list {
		display: grid;
		grid-template-columns: 1fr;
	}
	.home-cover::before {
		background-size: 400%;
	}
}