@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');

.home-cover {
	height: 900px;
	background-image: var(--bg-gradient);
}
html {
	animation: scrollUp 1s linear;
	animation-fill-mode: forwards;
}
@keyframes scrollUp {
	from {
		opacity: 0;
	} to {
		opacity: 1;
	}
}
.home-cover .skip-down {
	position: absolute;
	bottom: 50px;
	left: 50%;
	transform: translate(-50%,50%);
	width: 48px;
	height: 48px;
	background-color: var(--backgroundlight);
	border-radius: 50%;
	display: grid;
	place-items: center;
	justify-content: center;
	font-size: 2rem;
	box-shadow: 0px 0px 20px var(--background);
}
.home-cover .skip-down i {
	color: transparent;
	background-image: var(--rg);
	background-clip: text;
	-webkit-background-clip: text;
	transition: all 0.3s ease;
}
.home-cover .skip-down i:hover {
	background-position: 56px;
}
.home-cover {
	position: relative;
	padding-top: 80px;
}
.home-cover .content {
	display: flex;
	height: 100%;
	justify-content: center;
}
.home-cover .content .center-content {
	background-color: var(--content-background);
	display: grid;
	grid-template-columns: 4fr 3fr;
	width: 1200px;
	height: fit-content;
	min-height: 800px;
}
.home-cover .content .projects {
	margin: 20px;
	width: 500px;
	flex-direction: column;
	height: 100%;
}
.home-cover .content .projects .project-container {
	background-color: var(--backgroundlight);
	margin: 20px;
	margin-top: 80px;
	position: relative;
	padding-top: 20px;
	border-radius: 3px;
}
.home-cover .content .projects .project-container .project-poster a {
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-color: var(--content-background);
	border-radius: 25px;
	display: block;
	width: 80px;
	height: 80px;
	position: absolute;
	left: 30px;
	top: -55px;
}
.home-cover .content .projects .project-container .project-body {
	padding: 10px;
}
.home-cover .content .projects .project-container .project-body .project-title {
	font-family: var(--exo);
	font-weight: 600;
	font-size: 24px;
}

.home-cover .content .side {
	background-color: var(--content-background-light);
}


.home-cover .content .news {
	width: 60%;
	margin: 20px;
	flex-direction: column;
}
.home-cover .content .news .news-container {
	background-color: var(--content-background);
	margin: 20px;
	position: relative;
	border-radius: 3px;
	width: 450px;
}
.home-cover .content .news .news-container .news-poster a {
	background-size: cover;
	display: block;
	width: 80px;
	height: 80px;
	position: absolute;
	left: 30px;
	top: -55px;
}
.home-cover .content .news .news-container .news-body {
	padding: 10px;
}
.home-cover .content .news .news-container .news-body .news-title {
	font-family: var(--exo);
	font-weight: 600;
	font-size: 24px;
}
.home-cover .content .news .news-container .news-body .news-footer .marker {
	background-color: var(--select);
	width: 50px;
	height: 2px;  
	margin: 5px 0 10px 0;
	margin-left: -10px;
}
.home-cover .content .news .news-container .news-body .news-footer {
	padding: 5px;
	margin: 5px;
}