/* welcome!!!! */

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');

.home-cover {
	height: 900px;
	display: flex;
	position: relative;
	align-items: center;
	justify-content: center;
}
.home-cover::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url("/img/bg.svg");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	filter: brightness(0.5);
}
html {
	animation: scrollUp 1s linear;
	animation-fill-mode: forwards;
}
@keyframes scrollUp {
	from {
		opacity: 0;
	} to {
		opacity: 1;
	}
}
.home-cover .content .center-content {
	text-align: center;
	position: relative;
	z-index: 1;
}
.home-cover .content .center-content .title {
	font-size: 18px;
	display: flex;
	gap: 10px;
	justify-content: center;
	align-items: center;
	height: 60px;
}
.home-cover .content .center-content .description p {
	font-size: 18px;
	height: 60px;
}
.home-cover .skip-down i {
	color: transparent;
	background-image: var(--rg);
	background-clip: text;
	-webkit-background-clip: text;
	transition: all 0.3s ease;
}
.home-cover .skip-down i:hover {
	background-position: 56px;
}
.home-cover .content .side {
	background-color: var(--content-background-light);
}


.home-cover .content .news {
	width: 60%;
	margin: 20px;
	flex-direction: column;
}
.home-cover .content .news .news-container {
	background-color: var(--content-background);
	margin: 20px;
	position: relative;
	border-radius: 3px;
	width: 450px;
}
.home-cover .content .news .news-container .news-poster a {
	background-size: cover;
	display: block;
	width: 80px;
	height: 80px;
	position: absolute;
	left: 30px;
	top: -55px;
}
.home-cover .content .news .news-container .news-body {
	padding: 10px;
}
.home-cover .content .news .news-container .news-body .news-title {
	font-family: var(--exo);
	font-weight: 600;
	font-size: 24px;
}
.home-cover .content .news .news-container .news-body .news-footer .marker {
	background-color: var(--select);
	width: 50px;
	height: 2px;  
	margin: 5px 0 10px 0;
	margin-left: -10px;
}
.home-cover .content .news .news-container .news-body .news-footer {
	padding: 5px;
	margin: 5px;
}

/* wave */

@keyframes wave {
	from {
		rotate: -10deg;
	}
	to {
		rotate: 10deg;
	}
}
img.wave-emoji {
	width: 32px;
	height: 32px;
	animation: wave 0.5s ease-in-out infinite alternate;
}

/* projects please help */

.project-list, #members_list {
	width: 100%;
	flex-direction: column;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	height: 100%;
}
.project-container {
	background-color: var(--backgroundlight);
	margin: 20px;
	padding: 10px;
	position: relative;
	padding-top: 20px;
	border-radius: 3px;
}
.project-container .project-poster a {
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-color: var(--content-background);
	border-radius: 25px;
	display: block;
	width: 80px;
	height: 80px;
	margin-left: 20px;
}
.project-container .project-body .project-title {
	font-family: var(--head);
	font-weight: 600;
	font-size: 24px;
}
