@import url('https://fonts.googleapis.com/css2?family=Questrial&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url("./member.css");
@import url("./tooltip.css");
@import url("./welcome.css");
@import url("./footer.css");

* {
	padding: 0;
	margin: 0;
	scroll-behavior: smooth;
	box-sizing: border-box;
}
:root {
	--background: #0f0e17;
	--backgroundlight: #2e2b47;
	--headline: #fffffe;
	--paragraph: #a7a9be;
	--container: #454650;
	--button: #ff8906;
	--button-text: #fffffe;
	--stroke: black;
	--main: #fffffe;
	--highlight: #ff8906;
	--secondary: #f25f4c;
	--tertiary: #e53170;
	--def-font: "Roboto";
	--def-fontsize: 14px;
	--bg-gradient: linear-gradient(234deg, var(--background) 0%, var(--backgroundlight) 100%);
}
html {
	background-color: var(--background);
	color: var(--main);
	font-family: var(--def-font);
	font-size: var(--def-fontsize);
	min-height: 100vh;
}
p, li {
	color: var(--paragraph);
	list-style-type: none;
	margin: 5px;
}
h1 {font-size: 4rem;}
a {
	color: var(--button-text);
	text-decoration: none;
}
a:hover {
	color: var(--tertiary);
	text-decoration: underline;
}
::selection {
	color: var(--main);
	background-color: var(--secondary);
}
hr {
	border: 2px var(--backgroundlight) solid;
}
button {
	background-color: var(--bg-gradient);
	color: var(--button-text);
	font-size: calc(var(--def-fontsize) + 4px);
	padding: 0.75rem 2rem;
	border-radius: 20px;
	font-family: var(--def-font);
	border: 1px var(--main) solid;
	font-weight: 700;
	cursor: pointer;
	margin-top: 10px;
	transition: background-color 0.3s linear;
}
button:hover {
	background-color: var(--secondary);
}