---
import Layout from "../Layout.astro";
---

<Layout title="About">
	<section class="front_page">
		<div class="hero">
			<h1>
				We build <span class="highlight">software</span>, <span class="highlight">tools</span>, and <span class="highlight">resources</span> for the better web.
			</h1>
			
		</div>
		<p>
			We're a team of developers and like-minded individuals who strive to make the web a better place. 
		</p>
	</section>
</Layout>