---
import { z } from "astro/zod";
import { getSecret } from "astro:env/server";
import DocumentShell from "../layouts/DocumentShell.astro";

export const prerender = false;

if (Astro.request.method !== "POST") {
  return Astro.redirect("/");
}

let result;

try {
  const data = z
    .object({
      name: z.string().min(3).max(128),
      email: z.string().email().min(6).max(128),
      message: z.string().min(32).max(1024),
      hp: z.string().max(0),
    })
    .parse(Object.fromEntries(await Astro.request.formData()));

  try {
    await fetch(getSecret("WEBHOOK_URL")!, {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({
        content: null,
        embeds: [
          {
            title: "Form Submission",
            description: `There was a new submission on znci.dev.`,
            color: null,
            fields: [
              {
                name: "Name",
                value: data.name,
                inline: true,
              },
              {
                name: "Email",
                value: data.email,
                inline: true,
              },
              {
                name: "Message",
                value: data.message,
              },
            ],
            author: {
              name: data.name,
            },
            footer: {
              text: Astro.clientAddress,
            },
            timestamp: new Date().toISOString(),
          },
        ],
        attachments: [],
      }),
    });

    result = {
      success: true,
    };
  } catch (e) {
    console.error("An error occurred while sending the form submission.", e);

    result = {
      success: false,
      message: "The form submission failed. Please try again later.",
    };
  }
} catch (e) {
  console.error("Invalid data was submitted to the form.", e);

  result = {
    success: false,
    message: "Invalid data was submitted to the form.",
  };
}
---

<DocumentShell title="Contact Form">
  <main>
    <h1>
      {
        result?.success
          ? "✅ The form was submitted successfully."
          : "❌ The form could not be submitted."
      }
    </h1>
    <p>
      {
        result?.success
          ? "Thank you for your message! We'll get back to you as soon as possible."
          : result?.message || "An unknown error occurred."
      }
    </p>
    <p>
      <a href="/">Return home</a>
    </p>
  </main>
</DocumentShell>

<style>
  body {
    margin: 0;
  }

  main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
  }

  h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  p {
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }

  a {
    color: #0070f3;
    text-decoration-style: wavy;
  }
</style>
