<header>
    <div class="nav">
        <img class="header-logo" src="./znci.svg" alt="znci logo">
        <nav>
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="about">About</a></li>
                <li><a href="contact">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>