---
import { RSSFeed } from "./solid/RSSFeed.tsx";
---

<section class="section" id="rss">
  <div class="section-title">News @ <b>znci</b></div>
  <div class="rss-feed">
    <RSSFeed client:only="solid-js" />
  </div>
</section>
