---
import CommonHead from "./CommonHead.astro";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <CommonHead {title} />
    <slot name="head" />
  </head>
  <body>
    <slot />
  </body>
</html>
